@model PlanoContaModel
@{
    ViewData["Title"] = "Cadastro de Transacao";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="PlanoConta" asp-action="Cadastro" method="post">
    <div class="container">
        <div class="mb-3">
            <label class="form-label">Descricao</label>
            <input type="hidden" id="txtId" class="form-control" asp-for="Id" />
            <input type="text" id="txtNome" class="form-control" asp-for="Descricao" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>@Html.RadioButtonFor(m => m.Tipo, "D")Despesa</label>
            <label>@Html.RadioButtonFor(m => m.Tipo, "R")Receita</label>
            <span asp-validation-for="Tipo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
            <button type="button" class="btn btn-secondary btn-lg" onclick="Voltar()">Cancelar</button>
        </div>
    </div>
</form>

<script>
    function Voltar(){
        window.location.href = "../PlanoConta/Index";
    }
    
</script>

